.Navigation_Body{
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.NavigationLinks {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.NavigationLinks:hover{
    color: green;
    font-size: 17px;
}

.NavigationFor426px{
    display: none;
}

.MintMeButton {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    border: 1px solid brown;
    font-size: 12px;
    gap: 10px;
    color: brown;
}

.MintMeButton:hover {
    background-color: brown;
    color: white;
}


@media only screen and (max-width: 1024px) {
    .Navigation_Body{
       margin: 5px 10px;
       display: flex;
       justify-content: 'space-between'
    }
    .Logo_Text > h1 {
        font-size: 30px !important;
        margin-top: 10px !important;
    }
    div > .Social_Img > img {
        height: 30px !important;
        margin-top: 15px !important;
    }
}

@media only screen and (max-width: 769px){
    .Social_Div{
        display: none !important;
    }
    .MintMeButton{
        padding: 5px;
    }
    .MintMeButton_Text {
        display: none;
    }
}

@media only screen and (max-width: 426px){
    .NavigationForAll{
        display: none !important;
    }
    .NavigationFor426px{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .FirstBodyMintMeButton_Text{
        display: flex;
        font-size: 10px;
    }
}

@media only screen and (max-width: 376px){
    .NavigationFor426px{
        margin: 10px 5px !important;
    }
}