.NavigationLinks {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.NavigationLinks:hover{
    color: green;
    font-size: 17px;
}

.PancakeButton {
    margin-top: 5px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
}

.PancakeButton:hover {
    margin-top: 6px;
    padding: 20px 40px;
    background-color: #e3e30f;
    border: 1px solid white;
    color: white;
}