.NavigationLinks {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.NavigationLinks:hover{
    color: green;
    font-size: 17px;
}


.MintMeButton {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    border: 1px solid brown;
    font-size: 12px;
    gap: 10px;
    color: brown;
}

.MintMeButton:hover {
    background-color: brown;
    color: white;
}
