.HestIntro{
    font-size: 80px;
}

.Hero_Body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
}

@media only screen and (max-width: 769px){
    .HestIntro{
        font-size: 60px;
        margin-bottom: 40px !important;
    }
}

@media only screen and (max-width: 426px){
    .Hero_Body {
        display: flex;
        flex-direction: column;
    }
    .HestIntro{
        font-size: 50px;
    }
    .IntroSub{
        font-size: 12px;
    }
    .IntroPSub{
        font-size: 12px;
    }
    .Alert{
        font-size: 12px !important;
    }
    .ContractAddress{
        font-size: 13px !important;
    }
    .JoinUs{
        font-size: 18px;
    }
    .HeroBodySocials{
        margin-top: -20px;
    }
}

@media only screen and (max-width: 376px){
    .HestIntro{
        font-size: 40px;
        margin-top: 5px;
    }
    .IntroSub{
        font-size: 11px;
    }
    .IntroPSub{
        font-size: 10px;
    }
    .Alert{
        font-size: 11px !important;
    }
    .ContractAddress{
        font-size: 11px !important;
    }
}


@media only screen and (max-width: 320px){
    .HestIntro{
        font-size: 35px;
        margin-top: 5px;
    }
    .IntroSub{
        font-size: 9px;
    }
    .IntroPSub{
        font-size: 8px;
    }
    .Alert{
        font-size: 8px !important;
    }
    .ContractAddress{
        font-size: 9px !important;
    }
    .JoinUs{
        font-size: 15px;
    }
}