.Number {
    margin-top: -65px;
    margin-left: 20px;
}
.StepsToGet{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 769px){
    .StepsToGet{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 426px){
    .HowToGet_Body{
        padding: 10px !important;
    }
    .For426{
        margin-top: 20px !important;
    }
    .StepsToGet > div > div > h2 {
        font-size: 18px !important;
    }
    .StepsToGet > div > div > p{
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 321px){
    .StepsToGet > div > div > h2 {
        font-size: 14px !important;
    }
    .StepsToGet > div > div > p{
        font-size: 10px !important;
    }
}