.StyleText {
    text-align: center;
    font-size: 200px;
    margin-top: 10px;
    color: #e9fbe8;
}

.StyleTextBottom {
    text-align: center;
    font-size: 70px;
    font-weight: 300;
    margin-top: -220px;
    color: green;
}

#SVG {
    margin-left: -50px;
}

@media only screen and (max-width: 1024px){
    .Dollar_Span{
        color: white;
    }
}