.Footer{
    margin: 3px;
    cursor: pointer;
}
.LogoMobile{
    display: none !important;
}
@media only screen and (max-width: 769px){
    .SeventhBodyH1{
        font-size: 40px !important;
    }
    .Footer{
        font-size: 15px;
    }
}

@media only screen and (max-width: 426px){
    .SeventhBodyH1{
        font-size: 25px !important;
    }
    .Footer{
        font-size: 8px;
    }
    .SeventhBody{
        padding: 10px !important;
    }
}

@media only screen and (max-width: 376px){
    .SeventhBodyH1{
        font-size: 20px !important;
    }
    .Footer{
        font-size: 7px;
    }
    .AllLogo{
        display: none !important;
    }
    .LogoMobile{
        display: flex !important;
    }
}

@media only screen and (max-width: 321px){
    .Footer{
        font-size: 5px;
    }
}