.FAQ {
    display: grid;
    gap: 10px;
    margin: 0 20px 20px;
}

@media only screen and (max-width: 769px){
    .FAQTop{
        font-size: 130px;
    }
    .FAQBottom{
        font-size: 40px;
        margin-top: -150px;
    }
    .FAQQuestion{
        font-size: 20px !important;
    }
}