.FAQ {
    display: grid;
    gap: 10px;
    margin: 0 20px 20px;
}

@media only screen and (max-width: 769px){
    .FAQTop{
        font-size: 130px;
    }
    .FAQBottom{
        font-size: 40px;
        margin-top: -150px;
    }
    .FAQQuestion{
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 426px){
    .FAQTop{
        font-size: 100px;
        margin-top: 0;
    }
    .FAQBottom{
        font-size: 25px;
        margin-top: -100px;
    }
    .FAQQuestion{
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 321px){
    .FAQTop{
        font-size: 90px;
    }
    .FAQBottom{
        font-size: 20px;
        margin-top: -90px;
    }
    .FAQQuestion{
        font-size: 12px !important;
    }
}