#SVG2 {
    margin-top: -150px;
    margin-left: -150px;
}
.RoadmapList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 50px;
}

@media only screen and (max-width: 1024px){
    .Roadmap {
        font-size: 150px;
    }
    .RoadmapBottom {
        margin-top: -180px;
        font-size: 60px;
    }
}