#SVG2 {
    margin-top: -150px;
    margin-left: -150px;
    width: 500px;
}
.RoadmapList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 50px;
}

@media only screen and (max-width: 1024px){
    .Roadmap {
        font-size: 150px;
    }
    .RoadmapBottom {
        margin-top: -180px;
        font-size: 60px;
    }
}

@media only screen and (max-width: 769px){
    #SVG2 {
        width: 400px;
    }
    .Roadmap {
        font-size: 120px;
        margin-top: 100px;
    }
    .RoadmapBottom {
        margin-top: -150px;
        font-size: 50px;
    }
    .RoadmapList {
        grid-template-columns: repeat(3, 1fr);
    }
    .RoadmapList_Text{
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 426px){
    .Roadmap{
        font-size: 60px;
        margin-top: 200px;
    }
    .RoadmapBottom {
        font-size: 20px;
        margin-top: -70px;
    }
    #SVG2 {
        width: 300px;
    }
    .RoadmapList {
        grid-template-columns: repeat(2, 1fr);
    }
    .RoadmapList_Text{
        font-size: 10px !important;
    }
}