html{
  /* animation: opacity 2s; */
  overflow-x: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: green;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #e9fb80;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  from {
      opacity: 0;
      transform: scale3d(0,0,0);
  }
  to {
      opacity: 1;
      transform: scale3d(100%,100%,100%);
  }
}
